.logs-tab {
    padding: 20px;
    background-color: #1a1a2e;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 0px solid #ddd;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    text-align: left;
}
